# =========================
# Java
# =========================
*.class
*.log

# =========================
# Eclipse
# =========================
.settings/
.project
.classpath
bin/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE (optional safety)
# =====================


